.m-pokemon-detail {
  position: relative;

  .icon-close {
    position: absolute;
    background-color: transparent;
    font-size: 1.5rem;
    top: 0;
    right: 0;
    color: white;
  }
  ul {
    padding-left: 0;
    list-style: none;
    padding: 1rem;

    li {
      border-bottom: 1px solid #E8E8E8;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 1rem 0;
      color: #5E5E5E;

      span {
        display: inline-block;
        width: auto;
        margin-right: .5rem;
        height: auto;
        font-weight: 700;
        cursor: inherit;
      }
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 1rem;
  }
  &__image {
    position: relative;

    img:last-child {
      width: 10rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -40%);
    }
  }
}